<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175485785588-dsdai3t42guqu2gc1tckg0aqqndg0alb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175485785588-dsdai3t42guqu2gc1tckg0aqqndg0alb</string>
	<key>API_KEY</key>
	<string>AIzaSyBeS5i3sDXiS4yNnm7RS6F9URlJSySWpm0</string>
	<key>GCM_SENDER_ID</key>
	<string>175485785588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keywordlyApp</string>
	<key>PROJECT_ID</key>
	<string>keywordly-0235</string>
	<key>STORAGE_BUCKET</key>
	<string>keywordly-0235.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175485785588:ios:99ba27a94c1b30ff6155a1</string>
</dict>
</plist>